<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Career site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  
</head>
  <body>
    {% include "nav.html" %}
    <img class="img-fluid" id ="banner"  src="/static/images/banner.jpg" alt="banner">
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Jovian Career</h1>
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-6">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus dictum at tempor.
                    In hac habitasse platea dictumst vestibulum rhoncus. Consectetur a erat nam at lectus urna duis. 
                    Cum sociis natoque penatibus et. A diam sollicitudin tempor id eu nisl. Ac tortor vitae purus faucibus 
                    ornare suspendisse sed. Dictumst vestibulum rhoncus est pellentesque. Lorem ipsum dolor sit amet consectetur 
                    adipiscing elit ut. Urna molestie at elementum eu facilisis. Est ultricies integer quis auctor elit sed vulputate. 
                    Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Tristique senectus et netus et malesuada 
                    fames ac turpis egestas. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Massa sapien faucibus et 
                    molestie ac feugiat sed lectus.
                </p>
            </div>
                <dir class="d-none d-md-block col-md-6">
                    <img src="/static/images/people.jpg" style="height: 320px; border-radius: 10px;">
                </dir>
        </div>
        <h2 class="text-center mt-2 mb-4">Job Openings</h2>
        <div>
            {% for job in jobs %}

            {% include "jobitems.html" %}

            {% endfor %}
        </div>

        <div class = "text-center">
            <button class="btn btn-primary btn-lg text-center">Contact Us</button>
        </div >
        {% include 'footer.html' %}

    </div>
   </body>
</html>